<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB39CaSHWBBgPt_Txe3SbwWvdIIGqH9yy0</string>
	<key>GCM_SENDER_ID</key>
	<string>676712352074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instamilligram</string>
	<key>PROJECT_ID</key>
	<string>instamilligram-aa2e7</string>
	<key>STORAGE_BUCKET</key>
	<string>instamilligram-aa2e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676712352074:ios:35c9879603027bebac99b3</string>
</dict>
</plist>